*{
    margin:0;
    padding:0;
    border:0;
}
body{
    background-color: #DD403A;
}

.menu{
    background-color: #b91b16;
    display: block;
    position: fixed;
    align-items: center;
    width: 2vw;
    height: 100vh;
    align-items: center;
}

span#burguer{
    background-color: #b91b16;
    color: #fffce8;
    
    cursor: pointer;
    display: flex;
    font-size: 2em;
    justify-content: center;
    
}


menu{
    margin-left: 2vw;
    display: none;
    position:fixed;
}

ul{
    background-color: #b62f2aa6;
    height: 100vh;

}

ul > li {
    background-color: #b62e2a;
    border-color: #b62f2a2a;
    border-width: 1px;
    border-style: solid;
    color: #fffce8;
    padding: 0.75em;
    list-style-type: none;
    width: 10vw;
    
}
ul > li > a{
    font-weight: 400;
    text-decoration: none;
    color: #fffce8;
}
ul > li:hover{
    background-color: #b91b16;
}

.titulo{
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.titulo > img{
    height: auto;
    width: auto;
}
.titulo >img:hover{
    height: 40vh;
    width: 30vw;
}


.index-box{
    display: flex;
    width: 80%;
    height: 50%;
    min-width: 95vw;
    min-height: 50vh;
    flex-wrap: wrap;
    justify-content: center;

    
}
.index-box > div
{
    width: 400px;
    height: 215px;
    max-width: 90vw;
    max-height: 90vh;
    min-width: 15vw;
    min-height: 15vh;
    border-color:#DD403A;
    border-style: solid;
    border-width: 3px;
    background-color: #fffce8;
    display: flex;
    flex-wrap: wrap;

}
.index-box > div > div{
    display: flex;
    font-size: 1em;
    width: 100%;
}
.index-box > div > div >img{
    max-width: 10vw;
    max-height: 10vh;
    margin: 1vh;
}
.index-box > div > div > a{
    margin-top: 2vh;
}
.espacobotao{
    width: 10%;
    display: flex;
    
    justify-content: flex-end;
}
.botao{
    width: 10vw;
    background-color: #DD403A;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 1vh;
    margin-right: 1vw;
    text-decoration: none;
    
}
.botao:hover{
    background-color: #b62e2a;
}
.botao:active{
    background-color: #DD403A;
    font-weight: bold;
    
}

