* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

body {
    background-color: #DD403A;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #b91b16;
}

body::-webkit-scrollbar-thumb {
    background-color: #d65c58;
    border-radius: 20px;
    border: 3px solid #b91b16;
}


.testes::-webkit-scrollbar {
    width: 12px;
}

.testes::-webkit-scrollbar-track {
    background: #DD403A;
}

.testes::-webkit-scrollbar-thumb {
    background-color: #b91b16;
    border-radius: 20px;
    border: 3px solid #DD403A;
}

.menu {
    background-color: #b91b16;
    display: block;
    position: fixed;
    align-items: center;
    width: 2vw;
    height: 100vh;
    align-items: center;
}

span#burguer {
    background-color: #b91b16;
    color: #fffce8;

    cursor: pointer;
    display: flex;
    font-size: 2vw;
    justify-content: center;

}

.testes-back {
    width: 100vw;
    height: 100vh;
    background-color: #00000071;
    position: fixed;
    display: none;
}

.testes {
    display: none;
    width: auto;
    height: auto;
    background-color: #fffce8;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    
    overflow-y: scroll;


}

.espaco-fechar {
    width: auto;
    height: 3vh;
    background-color: #b62e2a;
    color: #fffce8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.titulo-cardapio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5vw;
}

/*
.espaco-fechar{
    width: auto;
    height: 3vh;
    background-color: #fffce8;
    color: #b62e2a;
    display: flex;
    justify-content: space-between;
}
.titulo-cardapio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5vw;
    color: #b62e2a;
}*/

.espaco-fechar>span {
    cursor: pointer;
}

menu {
    margin-left: 2vw;
    display: none;
    position: fixed;
}

ul {
    background-color: #b62f2aa6;
    height: 100vh;

}

ul>li {
    background-color: #b62e2a;
    border-color: #b62f2a2a;
    border-width: 1px;
    border-style: solid;
    color: #fffce8;
    padding: 0.75em;
    list-style-type: none;
    width: 10vw;

}

ul>li>a {
    font-weight: 400;
    text-decoration: none;
    color: #fffce8;
}

ul>li:hover {
    background-color: #b91b16;
}

.titulo {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.titulo>img {
    height: auto;
    width: auto;
}

.titulo>img:hover {
    height: 40vh;
    width: auto;
}


.index-box {
    display: flex;
    width: 80vw;
    height: 50vh;
    min-width: 95vw;
    min-height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2.5vw;


}

.index-box>.left-side {
    background-color: #fffce8;
    height: auto;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.index-box>div {
    width: 400px;
    height: 215px;
    max-width: 90vw;
    max-height: 90vh;
    min-width: 15vw;
    min-height: 15vh;
    border-color: #DD403A;
    border-style: solid;
    border-width: 3px;
    background-color: #fffce8;
    display: flex;
    flex-wrap: wrap;

}

.index-box>div>div {
    display: flex;
    font-size: 1em;
    width: 100%;
}

.index-box>div>div>img {
    max-width: 10vw;
    max-height: 10vh;
    margin: 1vh;
}

.index-box>div>div>a {
    margin-top: 2vh;
}

.espacobotao {
    width: 10%;
    display: flex;
    justify-content: flex-end;

}

.formularioLogin {

    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.information {
    height: 30vh;
    justify-content: center;

}

.information>label {
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.information>input {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    width: 100%;
}

.buttonbox {
    margin-top: 2vh;
    display: flex;
    align-items: center;

}

.botaocaixa {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    margin-top: 1vh;

}

.botao {
    width: 10vw;
    background-color: #DD403A;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    margin-right: 1vw;
    text-decoration: none;
    cursor: pointer;
}

.titlebox {
    height: 2vh;
    margin-top: 4vh;
    position: fixed;
    font-size: 3vh;
    padding-bottom: 1vh;
    
}

.titlebox>span {
    font-size: 3vh;
    color: #b62e2a;

}

.information>.label-cadastro {
    font-size: 2vh;
}

.information>input[type="radio"] {
    margin: 0vh;
    width: auto;
    margin-right: 0vh;
}

.information>.radiobox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.information>.radiobox>a {
    margin-right: 1vw;
    margin-left: 0.2vw;
    font-size: 2vh;
}

.botao:hover {
    background-color: #b62e2a;
}

.botao:active {
    background-color: #DD403A;
    font-weight: bold;

}