*{
    margin:0;
    padding:0;
    border:0;
}
body{
    background-color: #DD403A;
}
.fonttitle {
    font-family: fantasy;
    font-size: 5em;
}
.fonttitle:hover{
    font-size: 4em;
    
}

.topo{
    color: #F1A208;
    background-color: #3E363F;
    margin-left: 5em;
    margin-right: 5em;
    width:auto;
    height: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    
}

.topo > .bannerheader{
    width: auto;
    height: 150px;

    
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo > .menuheader{
    background-color: #FFFCE8;
    width: 100%;
    height: 50px;
    border-color:  #050586;
    display:flex; 
    flex-direction: row-reverse;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
.menuheader > a{

   
    background-image: linear-gradient(#a72924, #DD403A);
    color: #FFFCE8;
    font-weight: bold;
    width: 10em;
    height: 2em;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0.5em;

}
.menuheader > a:hover{
    background-image: linear-gradient( #DD403A,#a72924);
 
} 
.menuheader > a:visited{

}
.menuheader > a:active{
    color: #F1A208;
    background-image: linear-gradient( #605a61,#3E363F);
}

.menuheader > a:link{
    text-decoration: none;

}

.corpointeiro{
display: flex;

}
.corpoesquerdo{
    background-color: #FFFCE8;
    border-radius: 5px;
    
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 1em;
    width:70%;
    height: auto;
    color: #3E363F;
    padding: 2em;
    padding-top: 2.5em;
}
.corpodireito{
    background-color: #FFFCE8;
    border-radius: 5px;
    
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 5em;
    width:15%;
    height: auto;
    color: #3E363F;
    padding: 2em;
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;

}
.titletext{
    background-image: linear-gradient(#a72924, #DD403A);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFFCE8;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.iconestatus{
    width: 1em;
    height: 1em;
    background-color: #0cb80c;
    border-radius: 50%;
    margin-right: 1em;
}
.iconestatus:hover{
    background-color:#000000 ;
}
.corpodireito > img {
    padding-top: 1em;
    width: 100%;
    height: auto;
    
}
/*
.spacefooter{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
*/
footer{
    margin-top: 1.5em;
    background-color:#a72924;
    height: 7em;
    
    color: #fffff0;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
}
footer > .footeresquerdo{ 
    padding: 1em; 
    display: flex;
    flex-direction: column;
    width: 70%;
    
    margin-left: 5em;
    margin-right: 1em;
}
footer > .footeresquerdo > a{
    margin-top: 0.5em;
}


.footerdireito{
    display: flex;
    
    height: 2em;
    width: 2em;
    width: 15%;
    margin-left: 1em;
    align-items: center;
    justify-content: center;
    height: auto;
}
.footerdireito > img{
    right: 100%;
    
    height: 4em;
    width: 4em;
    transform: rotateY(180deg);
}
.footerdireito > img:hover{
    transform: rotateY(360deg);
    filter: invert(100%);
}

/*
colors
#DD403A CG RED
#3E363F BLACK COFFEE
#FFFCE8 IVORY
#F1A208 MARIGOLD
#E85F5C FIREOPAL

*/